@model IEnumerable<TCGShop.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @{
        if (ViewBag.IsAdmin)
        {
            <a asp-action="Create">Create New</a>
        }
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_DeliveryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_User)
            </th>
            @{
                if (ViewBag.IsAdmin)
                {
                    <th></th>
                }
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_DeliveryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_User)
            </td>
            @{
                if (ViewBag.IsAdmin)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="btn btn-secondary">Edit</button></a> |
                        <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="btn btn-secondary">Details</button></a> |
                        <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="btn btn-secondary">Delete</button></a>
                    </td>
                }
            }

        </tr>
}
    </tbody>
</table>
